*{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    text-shadow: 0 0 0.2em rgb(255, 255, 255), 0 0 0.2em rgb(179, 192, 197);
    color: rgb(5, 14, 142);
}

#color-palette{
    display: inline-block;
    width: 41%;
    height: 127px;
    margin-left: 340px;
    border: 1px solid black;
    margin-top: 20px;
}

.color {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 7px;
  }

.color:hover{
    transform: scale(1.5);
    box-shadow: 0 5px 1px rgba(0,0,0,0.6); 
}

#button-random-color{
    border: none;
    padding: 6px;
    text-decoration:none;
    cursor: pointer;
    border-radius: 20px;
    background-color: orange;
    color: rgb(5, 14, 142);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}

#button-random-color:hover {
    background:linear-gradient(to bottom, #b465a6 5%, #d5aac4 100%);